.calendar {
  margin-top: 12px;
  padding: 50px;
  @include css3-prefix (box-shadow, 0 3px 45px 3px #F2F2F2);
  .fc-toolbar {
    float: unset;
    .fc-center {
      display: block;
      h2 {
        width: 90%;
        margin-left: 0;
        color: $red;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        padding: 10px 0;
      }
      button {
        width: 4%;
        .fc-icon {
          top: 0;
          margin: 0;
        }
        ::after {
          font-weight: normal;
        }
      }
      .fc-prev-button {
        float: left;
      }
      .fc-next-button {
        float: right;
      }
    }
  }
  thead {
    th {
      padding: 5px;
      background-color: $grey-light;
    }
    .fc-sun {
      color: $red;
      font-size: 16px;
    }
  }
}
