.cars-classes {
  .cars-banner {
    img {
      height: 600px;
    }
  }
  .f-row {
    margin: 0;
  }
  .slider-section {
    overflow: hidden;
    img {
      display: inline-block;
      width: 100%;
    }
    &::after {
      position: absolute;
      bottom: -33px;
      left: -10px;
      height: 115px;
      background-color: $white;
      content: '';
      @include css3-sufix(width, calc(100% + 10px));
      @include css3-prefix(transform, rotate(4deg));
    }
  }
  .car-wrap {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    padding: 40px 0;
    @media only screen and (max-width: 992px) {
      padding: 0;
    }
    .slider {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      @media only screen and (max-width: 992px) {
        display: inline-block;
        width: 100%;
        margin: 0;
      }
    }
    .car-left {
      float: left;
      display: inline-block;
      width: 50%;
      padding: 0 60px;
      @media only screen and (max-width: 992px) {
        display: inline-block;
        width: 100%;
      }
      h1 {
        padding: 20px 0;
        text-align: left;
      }
      .cars-desc {
        font-size: 16px;
        font-weight: 100;
      }
      .card-wrap-cars {
        .cars-value-wrap {
          display: inline-block;
          width: 100%;
          padding: 10px 0;
          border-bottom: 1px solid $grey-light;
          .classes-name {
            float: left;
            display: inline-block;
            width: 20%;
            font-size: 18px;
            font-weight: bold;
            @media only screen and (max-width: 520px) {
              width: 30%;
              font-size: 16px;
            }
            @media only screen and (max-width: 420px) {
              width: 40%;
            }
          }
          .classes-value {
            display: inline-block;
            font-size: 16px;
          }
        }
        .read-more {
          padding-top: 50px;
          a {
            border-bottom: 1px solid $header-red-upper;
            color: $header-red-upper;
            font-size: 16px;
            cursor: pointer;
          }
        }
      }
    }

    .car-right {
      display: inline-block;
      width: 50%;
      @media only screen and (max-width: 992px) {
        display: inline-block;
        width: 100%;
      }
      .photo-wrap {
        .item-ul {
          display: inline-block;
          width: 100%;
          .item-li {
            position: relative;
            display: inline-block;
            list-style-type: none;
          }
          .item-li:nth-child(2n) {
            img {
              width: 200px;
              margin-top: -60px;
              margin-right: 20px;
              margin-left: 40px;
              @media only screen and (max-width: 992px) {
                width: 270px;
                margin-right: 80px;
              }
            }
          }
          .item-li:nth-child(3n) {
            img {
              position: absolute;
              width: 200px;
              margin-top: -113px;
              margin-right: 20px;
              @media only screen and (max-width: 992px) {
                width: 270px;
              }
            }
          }
        }
        @media only screen and (max-width: 992px) {
          padding: 20px;
        }
      }
      [id^=thumbs-] {
        margin-top: -170px;
        .item-ul {
          .owl-stage {
            display: flex;
            transform: unset !important;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            .owl-item {
              margin: 0 15px;
              .item-li {
                list-style-type: none;
              }
              &.current {
                display: none;
              }
            }
          }
        }
        :nth-child(2n) {
          @media only screen and (max-width: 992px) {
          margin-top: -290px;
        }
        }
      }
      [id^=big-] {
        .item-li {
          img {
            /*max-height: 451px;*/
            height: 451px;
            max-width: 540px;
            @media only screen and (max-width: 992px) {
              height: auto;
              max-width: unset;
            }
          }
          &.right-left-slant {
            top: -70px;
            display: table-cell;
            height: 50%;
          }
        }
      }
    }
    [id^=thumbs-] {
      list-style-type: none;
    }
  }
}
.car-wrap:nth-child(2n) {
  background-color: $grey-light;
  .car-right {
    .item-ul {
      margin-bottom: 25px;
    }
    .photo-wrap {
      .right-left-slant {
        @extend .left-right-slant;
        &::before {
          top: 36px;
          right: -35px;
          left: 0;
          display: inline-block;
          height: 20%;
          background: inherit;
          background-color: $grey-light;
        }
        img {
          margin-left: 0;
          @media only screen and (max-width: 1200px) {
            margin-bottom: 0;
          }
        }
      }
      @media only screen and (max-width: 1200px) {
        .right-left-slant::before {
          top: 44px;
          height: 17%;
        }
      }
      @media only screen and (max-width: 992px)  {
        .right-left-slant::before {
          display: none;
        }
      }
    }
  }
  .slider {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }
}


.outer {
  max-width: 800px;
  margin: 0 auto;
}

#big .item {
  margin: 2px;
  padding: 120px 0;
  border-radius: 3px;
  background: #EC6E46;
  color: $white;
  text-align: center;
}

#thumbs .item {
  height: 70px;
  margin: 2px;
  padding: 0;
  border-radius: 3px;
  background: #C9C9C9;
  color: #FFF;
  line-height: 70px;
  text-align: center;
  cursor: pointer;
}

#thumbs .item h1 {
  font-size: 18px;
}

#thumbs .current .item {
  background: #FF5722;
}

.owl-theme .owl-nav [class*='owl-'] {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.owl-theme .owl-nav [class*='owl-'].disabled:hover {
  background-color: #D6D6D6;
}

#big.owl-theme {
  position: relative;
}

#big.owl-theme .owl-next,
#big.owl-theme .owl-prev {
  position: absolute;
  top: 50%;
  height: 40px;
  width: 22px;
  margin-top: -20px;
  background: #333;
  line-height: 40px;
  text-align: center;
}

#big.owl-theme .owl-prev {
  left: 10px;
}

#big.owl-theme .owl-next {
  right: 10px;
}

#thumbs.owl-theme .owl-next,
#thumbs.owl-theme .owl-prev {
  background: #333;
}

/*
.car-right {
  .left-right-image {
    img {
      margin-left: 0;
    }
  }
  :before {
    top: -42px;
    right: -35px;
    left: -5px;
    display: inline-block;
    height: 30%;
    background: inherit;
    background-color: #F2F2F2;
  }
}
.cars-classes .car-wrap .car-right [id^=thumbs-] {
  margin-top: -95px;
}
*/
