body {
  .slider-section {
    display: inline-block;
    width: 100%;
    img {
      display: block;
      height: auto;
      width: 100%;
      border: none;
    }
    .owl-stage-outer {
      .owl-item active {
        .owl-stage {
          width: 100%;
        }
      }
    }
  }
  .section-our-client {
    padding-bottom: 50px;
    .client-item-wrap {
      display: inline-block;
      width: 100%;
      background-color: $grey-light;
      .item {
        display: inline-block;
        @media only screen and (max-width: 580px) {
          display: inline-block;
          width: 100%;
        }
        img {
          border: none;
        }
      }
    }
  }
}
