body {
  .slider-section {
    display: inline-block;
    width: 100%;
    img {
      display: block;
      height: auto;
      width: 100%;
      border: none;
    }
    .owl-stage-outer {
      .owl-item active {
        .owl-stage {
          width: 100%;
        }
      }
    }
  }
 /* .section-our-client {
    padding-bottom: 50px;
    .client-item-wrap {
      display: inline-block;
      width: 100%;
      background-color: $grey-light;
      .item {
        display: inline-block;
        @media only screen and (max-width: 580px) {
          display: inline-block;
          width: 100%;
        }
        img {
          border: none;
        }
      }
    }
  }*/
}

/* slant shape content */
.right-left-slant {
  margin-left: -70px;
  padding-right: 0;
  padding-left: 0;
  @media only screen and (max-width: 992px) {
    margin-left: 0;
  }
  &::before {
    position: absolute;
    top: 35px;
    right: 0;
    left: 0;
    display: block;
    height: 20%;
    padding-bottom: -90px;
    background: inherit;
    background-color: $white;
    content: '';
    @include prefix(transform, skewY(6.5deg), 'webkit' 'ms');
    @media only screen and (max-width: 1200px) {
      top: 52px;
      height: 17%;
    }
    @media only screen and (max-width: 992px) {
      top: 0;
      height: 0;
    }
  }
}
/* End of slant shape */

/* slant shape image*/
.left-right-slant {
  img {
    display: inline-block;
    height: 480px;
    width: 100%;
    margin-left: 50px;
    @media only screen and (max-width: 992px) {
      margin-bottom: 70px;
      margin-left: 0;
    }
  }
  &::before {
    position: absolute;
    top: -35px;
    right: -35px;
    left: 64px;
    display: block;
    height: 15%;
    background: inherit;
    background-color: $grey-light;
    content: '';
    @include prefix(transform, skewY(-6.5deg), 'webkit' 'ms');
    @media only screen and (max-width: 992px) {
      right: 0;
      left: 15px;
      height: 0;
    }
  }
}

