.footer {
  bottom: 0;
  width: 100%;
  background-image: url('../images/footer-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  .unit {
    .contect-footer {
      padding-top: 150px;
      @media only screen and (max-width: 420px) {
        padding-top: 300px;
      }
      .logo {
        @media only screen and (max-width: 767px) {
          width: 100%;
        }
        a {
          float: left;
          display: inline-block;
          width: 100%;
        }
      }
      h3 {
        margin-bottom: 15px;
        color: red;
        font-size: 18px;
        font-weight: 600;
      }
      .quick-link,
      .contact,
      .follow {
        float: left;
        display: inline-block;
        color: $white;
        line-height: 30px;
        text-align: left;
      }
      .quick-link {
        ul {
          padding-left: 0;
          li {
            display: block;
            list-style-type: none;
            a {
              color: $white;
            }
            a:hover,
              focus {
              color: $primary-color;
              text-decoration: none;
            }
          }
        }
        @media only screen and (max-width: 1090px) {
          width: 32%;
        }
        @media only screen and (max-width: 767px) {
          width: 100%;
        }
      }
      .contact {
        @media only screen and (max-width: 1090px) {
          width: 32%;
        }
        @media only screen and (max-width: 767px) {
          width: 100%;
        }
      }
      .follow {
        a {
          color: $white;
        }
        a:hover,
          focus {
          color: $primary-color;
          text-decoration: none;
        }
        img {
          height: 20px;
          width: 20px;
          margin-right: 10px;
        }
        @media only screen and (max-width: 1090px) {
          width: 32%;
        }
        @media only screen and (max-width: 767px) {
          width: 100%;
        }
      }
    }
  }
}

