.gallary-section {
  .image-wrap {
    display: inline-block;
    width: 100%;
    column-count: 3;
    column-gap: 1em;
    img {
      width: 100%;
      margin: 0 0 15px;
      border: none;
    }
    @media only screen and (max-width: 520px) {
      column-count: 2;
    }
  }
}
