header {
  background-image: linear-gradient($header-red-upper, $header-red-lower);
  @media only screen and (max-width: 1060px) {
    height: 70px;
  }
  .navbar-default {
    margin-bottom: 0;
    padding-top: 0;
    border: none;
    border-radius: unset;
    background: unset;
    box-shadow: none;
    .navbar-nav {
      height: 80px;
      li {
        a {
          padding: 0;
          padding-bottom: 5px;
          color: $white;
          font-size: 16px;
          font-weight: 500;
          &:hover {
            color: $white;
            font-weight: 700;
          }
          &:focus {
            color: $white;
          }
        }
        .active {
          border-bottom: 2px solid $white;
        }
      }
    }
    ul {
      float: right;
      clear: none;
      margin: 0;
      li {
        top: 15px;
        padding: 15px;
        &.current {
          &::after {
            bottom: 0;
            left: 0;
            display: block;
            height: 2px;
            width: 60%;
            border: none;
            background-color: #FFF;
            content: '';
          }
        }
        &:nth-last-child(-n + 2) {
          top: 0;
          padding: 28px 0;
          background-color: $white;
          /*box-shadow: 0 0 5px $box-shadow-header;*/
          a {
            color: $primary-color;
            font-weight: bold;
            &:hover,
              focus {
              color: $primary-color;
            }
          }

          @media only screen and (max-width: 767px) {
            top: 0;
            padding: 0;
          }
        }
      }
    }
  }
}
