/* slant shape content */
.right-left-slant {
  margin-left: -70px;
  padding-right: 0;
  padding-left: 0;
  @media only screen and (max-width: 992px) {
    margin-left: 0;
  }
  &::before {
    position: absolute;
    top: 35px;
    right: 0;
    left: 0;
    display: block;
    height: 20%;
    padding-bottom: -90px;
    background: inherit;
    background-color: $white;
    content: '';
    @include prefix(transform, skewY(6.5deg), 'webkit' 'ms');
    @media only screen and (max-width: 1200px) {
      top: 52px;
      height: 17%;
    }
    @media only screen and (max-width: 992px) {
      top: 0;
      height: 0;
    }
  }
}
/* End of slant shape */

/* slant shape image*/
.left-right-image {
  img {
    display: inline-block;
    height: 480px;
    width: 100%;
    margin-left: 50px;
    @media only screen and (max-width: 992px) {
      margin-bottom: 70px;
      margin-left: 0;
    }
  }
  &::before {
    position: absolute;
    top: -35px;
    right: -35px;
    left: 64px;
    display: block;
    height: 15%;
    background: inherit;
    background-color: $grey-light;
    content: '';
    @include prefix(transform, skewY(-6.5deg), 'webkit' 'ms');
    @media only screen and (max-width: 992px) {
      right: 0;
      left: 15px;
      height: 0;
    }
  }
}

/* banner slider section */
.slider-section {
  .homeimage {
    position: relative;
    overflow: hidden;
    img {
      display: inline-block;
      height: 800px;
      width: 100%;
      @media only screen and (max-width: 1200px) {
        height: 700px;
      }
      @media only screen and (max-width: 992px) {
        height: 600px;
      }
      @media only screen and (max-width: 767px) {
        height: 515px;
      }
      @media only screen and (max-width: 520px) {
        height: 440px;
      }
    }
    &::after {
      position: absolute;
      bottom: -67px;
      left: -10px;
      height: 150px;
      /*height: 115px;*/
      background-color: $white;
      content: '';
      @include css3-sufix(width, calc(100% + 10px));
      @include css3-prefix(transform, rotate(4deg));
    }
  }
  .owl-dots {
    position: absolute;
    bottom: 130px;
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 992px) {
      bottom: 150px;
    }
    @media only screen and (max-width: 767px) {
      bottom: 130px;
    }
    @media only screen and (max-width: 580px) {
      bottom: 130px;
    }
    @media only screen and (max-width: 420px) {
      bottom: 100px;
    }
    button {
      &:focus {
        outline: none;
      }
    }
    .owl-dot {
      span {
        display: block;
        height: 4px;
        width: 50px;
        margin: 5px 7px;
        background: $white;
        @media only screen and (max-width: 420px) {
          height: 2px;
          width: 30px;
          margin: 5px 3px;
        }
      }
      &.active {
        span {
          background-color: $primary-color;
        }
      }
    }
  }
}

/* End of banner sction */

/* racing-series section */
.racing-series-section {
  display: inline-block;
  width: 100%;
  padding: 70px;
  padding-bottom: 50px;
  h1 {
    display: flex;
    max-width: 699px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px 40px;
    border-bottom: none;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .item-event {
    float: left;
    display: inline-block;
    width: calc(17% - 8px);
    border-right: 1px solid $base-color;
    text-align: center;
    opacity: .3;
    @media only screen and (max-width: 992px) {
      width: calc(33% - 8px);
    }
    @media only screen and (max-width: 580px) {
      width: 50%;
    }
    @media only screen and (max-width: 420px) {
      width: 100%;
      margin-bottom: 20px;
      border-right: none;
    }
    &:hover,
      focus {
      margin-top: -10px;
      padding: 15px 0;
      border-right: none;
      background-color: $white;
      color: $primary-color;
      opacity: unset;
      @include css3-prefix(box-shadow, 0 3px 10px 3px $grey-light);
      .date {
        color: $primary-color;
      }
      .image {
        margin: 10px 0;
      }
      .banner-captionrace-no {
        color: $black;
        font-size: 16px;
        font-weight: bold;
      }
    }
    .upcomming-race {
      display: none;
    }
    .banner-caption {
      padding: 5px 0;
      color: $black;
      img {
        max-width: 150px;
      }
    }
    .month,
    .time,
    .race-no {
      font-size: 18px;
      font-weight: 700;
    }
    .date {
      font-size: 38px;
      font-weight: 900;
    }
    .time {
      padding: 10px 0;
      opacity: .9;
    }
    .time:hover {
      opacity: .3;
    }
    .image {
      padding: 10px 0;
      img {
        padding: 10px;
        border-top: 1px solid $black;
        border-bottom: 1px solid $black;
      }
    }
  }
}

/* End of racing-series section */

/* About car section */
.about-car {
  /*padding: 170px 0 80px !important;*/
  background-color: $grey-light;
  @media only screen and (max-width: 1200px) {
    /*padding: 0 !important;*/
  }
  @media only screen and (max-width: 992px) {
   /* padding-top: 50px !important;*/
  }
  @media only screen and (max-width: 767px) {
    /*padding: 70px 0;*/
  }
  .about-wrap {
    float: right;
    display: flex;
    width: 100%;
    align-items: center;
    @media only screen and (max-width: 992px) {
      display: block;
    }
    .img-desc {
      .about-desc-tab {
        display: inline-block;
        margin-top: 82px;
        padding: 30px 75px 70px;
        background-color: #FFF;
        @media only screen and (max-width: 992px) {
          margin-top: 0;
          padding: 50px;
        }
        .about-car-heading {
          color: $red;
          font-size: 34px;
          font-weight: 700;
        }
        .desc-about {
          font-size: 18px;
          line-height: 30px;
          .email-num {
            font-size: 14px;
            font-weight: 600;
          }
        }
      }
    }
    .img-overlap {
      display: inline-block;
    }
  }
  &.bg-img {
    padding: 75px 0;
    background-position: right 141px top 76px;
    background-size: 300px 250px;
    @media only screen and (max-width: 1300px) {
      background-position: right 24px top 76px;
    }
    @media only screen and (max-width: 1080px) {
      background-size: 240px 206px;
    }
  }
  &.bg-square {
    background-image: url('../images/square.png');
    background-position: right 141px bottom 76px;
    background-size: 250px 200px;
  }
}

/* End of About car section */

/* Our Client section */
.bg-img {
  padding: 50px 0;
  background-image: url('../images/bg-png.png');
  background-position: left -65px top;
  background-repeat: no-repeat;
  background-size: 546px 415px;
  @media only screen and (max-width: 980px) {
    background-image: unset;
  }
  .section-our-client {
    margin: 50px 0 40px;
    padding: 10px 0 50px;
    background-color: $grey-light;
    .client-item-wrap {
      display: inline-block;
      width: 100%;
      @media only screen and (max-width: 992px) {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
      .item {
        display: inline-block;
        max-width: 140px;
        width: calc(100% - 25px);
        margin-right: 50px;
        &:last-child {
          margin-right: 0;
        }
        @media only screen and (max-width: 1180px) {
          margin-right: 10px;
        }
        @media only screen and (max-width: 992px) {
          margin-right: 40px;
          margin-bottom: 20px;
        }
        @media only screen and (max-width: 767px) {
          margin-right: 0;
          margin-bottom: 20px;
        }
        @media only screen and (max-width: 580px) {
          &:nth-child(2n) {
            margin-right: 0;
            }
        }
        @media only screen and (max-width: 480px) {
          margin-bottom: 20px !important;
        }
        img {
          max-width: 140px;
          border: none;
        }
      }
      @media only screen and (max-width: 767px) {
        text-align: center;
        .item {
          margin-bottom: 10px;
        }
      }
    }
  }
}
/* End of Our Client section */


/* get involved */
.get-involved {
  padding: 70px 0;
  .card-wrap {
    display: inline-block;
    width: 100%;
    .card {
      float: left;
      display: inline-block;
      width: calc(32% - 8px);
      margin-right: 15px;
      background-color: $grey-light;
      text-align: center;
      @media only screen and (max-width: 767px) {
        width: 100%;
        margin: 0 0 20px;
      }
      &:hover,
        focus {
        margin-top: -10px;
        background-color: $white;
        color: $primary-color;
        @include css3-prefix(box-shadow, 0 3px 10px 4px $grey-light);
        .client-caption-title {
          background-color: $primary-color;
        }
        .client-body {
          padding-bottom: 30px;
          background-color: $white;
          .btn-plain {
            background-color: $primary-color;
            color: $white;
          }
        }
      }
      .client-caption-title {
        display: flex;
        height: 90px;
        padding: 10px;
        background: #000;
        color: #FFF;
        font-size: 24px;
        font-style: oblique;
        text-align: center;
        vertical-align: middle;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        @media only screen and (max-width: 992px) {
          font-size: 18px;
        }
      }
      .client-body {
        padding: 15px;
        .price {
          margin: 25px 0 30px;
          color: $primary-color;
          font-size: 30px;
          font-weight: bold;
        }
        .about {
          margin-bottom: 30px;
        }
      }
    }
  }
}


/* news */
.news {
  display: inline-block;
  width: 100%;
  .news-title {
    position: absolute;
    max-width: 1005px;
    padding: 15px;
    font-size: 36px;
    font-weight: bold;
  }
  .news-image {
    img {
      display: inline-block;
      width: 100%;
      height: 327px;
    }
  }
}



.latest-video {
  text-align: center;
  .image-wrap {
    display: flex;
    width: 100%;
    padding: 0 100px;
    column-count: unset;
    flex-wrap: wrap;
    justify-content: center;
    @media only screen and (max-width: 1180px) {
      display: flex;
      padding: 0 90px;
      flex-wrap: wrap;
      justify-content: center;
    }

    iframe {
      float: left;
      display: inline-block;
      margin-right: 20px;
      @media only screen and (max-width: 1180px) {
        display: flex;
        margin-bottom: 15px;
        flex-wrap: wrap;
        justify-content: center;
      }
      @media only screen and (max-width: 767px) {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
  }
  .btn-plain {
    margin: 30px 0;
    font-weight: 700;
    @include css3-prefix(box-shadow, 0 3px 10px 4px $grey-light);
  }
}

