/* --------------------------------------------------
	0.1 Settigns
-------------------------------------------------- */



/* ---- Colors ---- */

$white: #FFF;
$black: #000;
$red: #ed0513;
$base-color: #333;
$primary-color: $red;
$grey-light: lighten($base-color, 75%);
$box-shadow-header: #333;
$toggle-header: #EDEDED;
$header-red-upper: #F20C0F; /*header background (light)*/
$header-red-lower: #B2181B; /*header background (dark)*/
$square-dark: #F25159;
$square-light: #FAB3B7;

/* ---- Label Colors ---- */


