.standing-cars {
  .report {
    .infiniteslide_wrap {

    }
    .tab-scoll {
      .tablinks {
        padding: 10px;
        border-color: $white;
        background-color: $white;
        background-image: none;
        font-size: 16px;
      }
      .tablinks:hover {
        background-color: $red;
        color: $white;
        font-weight: 700;
      }
    }
    .tabcontent {
      padding: 15px;
      .table-wrap {
        display: inline-block;
        width: 100%;
        padding: 15px;
      }
    }
    .race-name-date {
      padding: 20px 0;
      font-size: 22px;
      font-weight: bold;
    }
    .report-desc {
      font-size: 16px;
    }
    .title {
      padding: 10px;
      background-color: $grey-light;
      font-weight: 900;
      letter-spacing: 2px;
    }
  }
  .standing-content {
    .content-upto-footer {
      p {
        span {
          line-height: 25px;
        }
      }
    }
  }
}
