.main {
  h1 {
    display: inline-block;
    width: 100%;
    padding-bottom: 40px;
    border-bottom: none;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    text-align: center;
    @media only screen and (max-width: 520px) {
      font-size: 26px;
    }
  }
}

