.gallary-section {
	background-color: red;
	.image-wrap {
	   column-count: 3;
	   column-gap: 1em;
	   /*padding: 10PX;*/
	   display: inline-block;
	   width: 100%;
	   img { 
		    width: 100%;
		    border: none;
		    margin: 0 0 6px;
		}
		@media only screen and (max-width: 520px) {
			column-count: 2;
		}
	}

}