/* --------------------------------------------------
	0.1 Settigns
-------------------------------------------------- */



/* ---- Colors ---- */

$white: #FFF;
$black: #000;
$grey: #DCDCDB;
$box-shadow-header: #333;
$dark-red: #e80909;
$toggle-header: #EDEDED;
$header-red-upper: #f20c0f;
$header-red-lower: #b2181b;



/* ---- Label Colors ---- */


